.event {
	margin: 0.5rem;
	border-bottom: 1px solid black;
}
.event a {
	display: flex;
	gap: 2rem;
	text-decoration: none;
	color: inherit;
	font-size: 0.9rem;
}

.event__image img {
	width: 110px;
	height: 120px;
	object-fit: cover;
}

.event__information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.2rem;
	padding: 0 1rem;
}

.event__information-date {
	color: var(--primary-color);
}

.event__information-name {
	font-weight: bold;
	text-transform: uppercase;

}
.event__information-city {
	text-transform: uppercase;
}
.event__information-venue {

}