.header--index {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.header-image--index img {
	object-fit: cover;
	height: 150px;
}

.navigation {
	padding: 1rem 1rem 0rem 1rem;
}

.navigation--primary {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.navigation-search p, .navigation-search__input{
	display: inline;
	font-weight: bold;
	font-size: 1.25rem;
}

.search-icon {
	width: 20px;
	display: inline;
	position: absolute;
	left: 13rem;
}

.navigation-search__input {
	text-decoration: underline;
	color: var(--primary-color);
}

.navigation-search__input::placeholder {
	color: var(--primary-color);
}

.navigation-search__input:focus::placeholder {
	color: gray;
}

.navigation__categories, .navigation__categories ul {
	display: flex;
	gap: 1rem;
	overflow: scroll;
	margin-top: 0.3rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.navigation__categories button {
	text-transform: uppercase;
}


.calendar {
	border: 1px solid black;
	padding: 0.5rem;
}

