.information__main {
	margin: 1rem;
	letter-spacing: 0.05rem;
}

.information__times {
	margin: 2rem 0;

}

.information__location--venue {
	font-weight: bold;
}

#map {
	height: 40vh;
}

@media screen and (min-width: 992px) {
	.information__main {
		display: flex;
		gap: 2rem;
	}

	.information__information {
		width: 60vw;
	}

	.information__location {
		width: 600px;
	}

}
