.information__main {
	margin: 1rem;
	letter-spacing: 0.05rem;
}

.information__times {
	margin: 2rem 0;

}

.information__location--venue {
	font-weight: bold;
}

@media screen and (min-width: 992px) {
	.information__main

}
